In [1]:
import pandas as pd

In [17]:
player_pos = pd.read_csv("2024_SMT_Data_Challenge\player_pos\Season_1884\Home1A\Vis1AK\day_008\player_pos.csv")
game_info = pd.read_csv("2024_SMT_Data_Challenge\game_info\Season_1884\Home1A\Vis1AK\day_008\game_info.csv")
ball_pos = pd.read_csv("2024_SMT_Data_Challenge\\ball_pos\Season_1884\Home1A\Vis1AK\day_008\\ball_pos.csv")
game_events = pd.read_csv("2024_SMT_Data_Challenge\game_events\Season_1884\Home1A\Vis1AK\day_008\game_events.csv")

In [22]:
game_events[(game_events["event_code"] == 2) & (game_events["player_position"] == 8)]

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
132,1884_008_Vis1AK_Home1A,37,30,37,1297528,8,2
314,1884_008_Vis1AK_Home1A,83,43,83,2963626,8,2
437,1884_008_Vis1AK_Home1A,112,51,112,3875826,8,2
451,1884_008_Vis1AK_Home1A,115,52,115,3943226,8,2
540,1884_008_Vis1AK_Home1A,139,57,139,4931426,8,2
627,1884_008_Vis1AK_Home1A,160,64,160,5863626,8,2
676,1884_008_Vis1AK_Home1A,169,67,169,6221276,8,2
728,1884_008_Vis1AK_Home1A,181,73,181,6675126,8,2
758,1884_008_Vis1AK_Home1A,190,75,190,7009776,8,2
819,1884_008_Vis1AK_Home1A,200,82,200,7544326,8,2
836,1884_008_Vis1AK_Home1A,203,84,203,7633826,8,2

In [32]:
play6 = game_events[game_events["play_id"] == 6]

In [55]:
play6abridged = play6.merge(ball_pos, on = "timestamp")

In [56]:
play6abridged = play6abridged.merge(player_pos, on = ["timestamp", "player_position"], suffixes= ("y",))

In [57]:
play6abridged = play6abridged[["play_id_x", "timestamp", "player_position", "event_code", "ball_position_x", "ball_position_y", "ball_position_z", "field_x", "field_y"]]

In [58]:
play6abridged

,play_id_x,timestamp,player_position,event_code,ball_position_x,ball_position_y,ball_position_z,field_x,field_y
0,6,290678,1,1,-2.222553,51.334800,5.866110,-0.4812,55.7379
1,6,291078,10,4,0.562329,1.095108,2.536923,2.5869,-0.7569
2,6,296628,8,2,83.942400,319.899000,4.993110,83.6010,321.7311
3,6,297678,8,3,80.483700,317.181000,5.487510,82.1202,320.0793
4,6,299578,6,2,-8.013600,145.680300,0.000000,-7.0020,145.3695

In [66]:
game_events

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
0,1884_008_Vis1AK_Home1A,1,22,1,42828,1,1
1,1884_008_Vis1AK_Home1A,1,22,1,43228,10,4
2,1884_008_Vis1AK_Home1A,1,22,1,43428,0,5
3,1884_008_Vis1AK_Home1A,2,22,2,60878,1,1
4,1884_008_Vis1AK_Home1A,2,22,2,61328,10,4
...,...,...,...,...,...,...,...
854,1884_008_Vis1AK_Home1A,208,85,208,7760076,255,16
855,1884_008_Vis1AK_Home1A,208,85,208,7760426,4,2
856,1884_008_Vis1AK_Home1A,208,85,208,7762376,4,3
857,1884_008_Vis1AK_Home1A,208,85,208,7763176,3,2
858,1884_008_Vis1AK_Home1A,208,85,208,7764076,0,5