In [61]:
import pandas as pd
from ipycanvas import Canvas, hold_canvas
import numpy as np
from pathlib import Path

In [62]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [63]:
player_pos = pd.read_csv("2024_SMT_Data_Challenge\player_pos\Season_1884\Home1A\Vis1AK\day_008\player_pos.csv")
game_info = pd.read_csv("2024_SMT_Data_Challenge\game_info\Season_1884\Home1A\Vis1AK\day_008\game_info.csv")
ball_pos = pd.read_csv("2024_SMT_Data_Challenge\\ball_pos\Season_1884\Home1A\Vis1AK\day_008\\ball_pos.csv")
game_events = pd.read_csv("2024_SMT_Data_Challenge\game_events\Season_1884\Home1A\Vis1AK\day_008\game_events.csv")

In [64]:
game_events[(game_events["event_code"] == 2) & (game_events["player_position"] == 8)]

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
132,1884_008_Vis1AK_Home1A,37,30,37,1297528,8,2
314,1884_008_Vis1AK_Home1A,83,43,83,2963626,8,2
437,1884_008_Vis1AK_Home1A,112,51,112,3875826,8,2
451,1884_008_Vis1AK_Home1A,115,52,115,3943226,8,2
540,1884_008_Vis1AK_Home1A,139,57,139,4931426,8,2
627,1884_008_Vis1AK_Home1A,160,64,160,5863626,8,2
676,1884_008_Vis1AK_Home1A,169,67,169,6221276,8,2
728,1884_008_Vis1AK_Home1A,181,73,181,6675126,8,2
758,1884_008_Vis1AK_Home1A,190,75,190,7009776,8,2
819,1884_008_Vis1AK_Home1A,200,82,200,7544326,8,2
836,1884_008_Vis1AK_Home1A,203,84,203,7633826,8,2

In [65]:
play6 = game_events[game_events["play_id"] == 6]

In [66]:
play6abridged = play6.merge(ball_pos, on = "timestamp")

In [67]:
play6abridged = play6abridged.merge(player_pos, on = ["timestamp", "player_position"], suffixes= ("y",))

In [68]:
play6abridged = play6abridged[["play_id_x", "timestamp", "player_position", "event_code", "ball_position_x", "ball_position_y", "ball_position_z", "field_x", "field_y"]]

In [69]:
play6

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
29,1884_008_Vis1AK_Home1A,6,24,6,290678,1,1
30,1884_008_Vis1AK_Home1A,6,24,6,291078,10,4
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
32,1884_008_Vis1AK_Home1A,6,24,6,297678,8,3
33,1884_008_Vis1AK_Home1A,6,24,6,299428,255,16
34,1884_008_Vis1AK_Home1A,6,24,6,299578,6,2
35,1884_008_Vis1AK_Home1A,6,24,6,301228,0,5

In [70]:
df = play6.merge(game_info, on = "play_per_game", suffixes = ["_a", "_b"])
df = df.merge(ball_pos, on = "timestamp", suffixes= ["_c", "_d"])
df = df.merge(player_pos, on = "timestamp", suffixes= ["_e", "_f"])
play6[play6["event_code"] == 2]["player_position"].iloc[0]
291078

291078

In [71]:
play6

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
29,1884_008_Vis1AK_Home1A,6,24,6,290678,1,1
30,1884_008_Vis1AK_Home1A,6,24,6,291078,10,4
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
32,1884_008_Vis1AK_Home1A,6,24,6,297678,8,3
33,1884_008_Vis1AK_Home1A,6,24,6,299428,255,16
34,1884_008_Vis1AK_Home1A,6,24,6,299578,6,2
35,1884_008_Vis1AK_Home1A,6,24,6,301228,0,5

In [72]:
play6coords = player_pos[(player_pos["player_position"] == 8) & (player_pos["timestamp"] >= 291078) & (player_pos["timestamp"] <= 296628)]
#list(zip(play6coords["field_x"], play6coords["field_y"]))
play6coords

,game_str,play_id,timestamp,player_position,field_x,field_y
5193,1884_008_Vis1AK_Home1A,6,291078,8,-4.7460,286.0152
5207,1884_008_Vis1AK_Home1A,6,291128,8,-4.6383,285.9066
5221,1884_008_Vis1AK_Home1A,6,291178,8,-4.5210,285.7980
5235,1884_008_Vis1AK_Home1A,6,291228,8,-4.3929,285.6909
5249,1884_008_Vis1AK_Home1A,6,291278,8,-4.2525,285.5865
...,...,...,...,...,...,...
6691,1884_008_Vis1AK_Home1A,6,296428,8,82.1850,321.0192
6705,1884_008_Vis1AK_Home1A,6,296478,8,82.7688,321.3156
6719,1884_008_Vis1AK_Home1A,6,296528,8,83.3565,321.6087
6733,1884_008_Vis1AK_Home1A,6,296578,8,83.4822,321.6708
6747,1884_008_Vis1AK_Home1A,6,296628,8,83.6010,321.7311

In [73]:
# canv = Canvas(width  = 400, height = 400)
# canv.scale(x = 1, y = -1)
# canv.translate(x = canv.width / 2, y = -canv.height)
# colors = np.array(range(play6coords.shape[0])) * 255 / play6coords.shape[0]
# colors = list(map(lambda x: ([255 - x, 255 - x, 255]), colors))
# canv.fill_styled_circles(play6coords["field_x"].to_numpy(), play6coords["field_y"].to_numpy(), color = colors, radius = 1)
# canv

In [74]:
play6

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
29,1884_008_Vis1AK_Home1A,6,24,6,290678,1,1
30,1884_008_Vis1AK_Home1A,6,24,6,291078,10,4
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
32,1884_008_Vis1AK_Home1A,6,24,6,297678,8,3
33,1884_008_Vis1AK_Home1A,6,24,6,299428,255,16
34,1884_008_Vis1AK_Home1A,6,24,6,299578,6,2
35,1884_008_Vis1AK_Home1A,6,24,6,301228,0,5

In [75]:
from Player import Player
from Route import Route

In [76]:
r = Route(play6, player_pos, ball_pos, game_info)

In [77]:
Player.get_existing_players()[8743].get_levels()

{'1A': 9}

In [78]:
r.get_total_length()

96.96957488866856

In [79]:
r.get_ideal_length()

95.29332569393306

In [80]:
r.get_score()

0.9827136584164671

In [81]:
(play6["player_position"] >= 7) & (play6["player_position"] <= 9) & (play6["event_code"] == 2)

29    False
30    False
31     True
32    False
33    False
34    False
35    False
dtype: bool

In [82]:
relevant_plays_df = game_events.groupby("play_per_game").filter(Route.is_relevant)

In [83]:
Player.clear_existing_players()
for play_num in relevant_plays_df["play_per_game"].unique():
    Route(relevant_plays_df[relevant_plays_df["play_per_game"] == play_num], player_pos, ball_pos, game_info)

In [84]:
Player.get_existing_players()

{5599: <Player.Player at 0x19fc4f71360>,
 8743: <Player.Player at 0x19fc4f73280>,
 963: <Player.Player at 0x19fc4f320b0>,
 537: <Player.Player at 0x19fc4f30c70>,
 435: <Player.Player at 0x19fc4f33ac0>,
 5485: <Player.Player at 0x19fc4f97520>}

In [98]:
Player.get_existing_players()[537].get_routes()[0].visualize()

Canvas(height=400, width=400)

In [86]:
play6.head((play6.reset_index()["event_code"] == 2).idxmax())

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
29,1884_008_Vis1AK_Home1A,6,24,6,290678,1,1
30,1884_008_Vis1AK_Home1A,6,24,6,291078,10,4

In [87]:
# import pygame
# pygame.init()
# screen = pygame.display.set_mode((1280, 720))
# clock = pygame.time.Clock()
# running = True

# while running:
#     # poll for events
#     # pygame.QUIT event means the user clicked X to close your window
#     for event in pygame.event.get():
#         if event.type == pygame.QUIT:
#             running = False

#     # fill the screen with a color to wipe away anything from last frame
#     screen.fill("purple")

#     # RENDER YOUR GAME HERE
#     pygame.draw.circle(screen, (0, 0, 0), (0, 0), 10)

#     # flip() the display to put your work on screen
#     pygame.display.flip()

#     clock.tick(60)  # limits FPS to 60

# pygame.quit()

In [100]:
import os

In [113]:
os.listdir(r"2024_SMT_Data_Challenge\ball_pos")

['Season_1883', 'Season_1884']

In [114]:
from FindGameFiles import FindGameFiles

In [164]:
files = FindGameFiles()

In [166]:
len(files)

339