In [1]:
import pandas as pd
import ipycanvas
import numpy as np

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
player_pos = pd.read_csv("2024_SMT_Data_Challenge\player_pos\Season_1884\Home1A\Vis1AK\day_008\player_pos.csv")
game_info = pd.read_csv("2024_SMT_Data_Challenge\game_info\Season_1884\Home1A\Vis1AK\day_008\game_info.csv")
ball_pos = pd.read_csv("2024_SMT_Data_Challenge\\ball_pos\Season_1884\Home1A\Vis1AK\day_008\\ball_pos.csv")
game_events = pd.read_csv("2024_SMT_Data_Challenge\game_events\Season_1884\Home1A\Vis1AK\day_008\game_events.csv")

In [4]:
game_events[(game_events["event_code"] == 2) & (game_events["player_position"] == 8)]

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
132,1884_008_Vis1AK_Home1A,37,30,37,1297528,8,2
314,1884_008_Vis1AK_Home1A,83,43,83,2963626,8,2
437,1884_008_Vis1AK_Home1A,112,51,112,3875826,8,2
451,1884_008_Vis1AK_Home1A,115,52,115,3943226,8,2
540,1884_008_Vis1AK_Home1A,139,57,139,4931426,8,2
627,1884_008_Vis1AK_Home1A,160,64,160,5863626,8,2
676,1884_008_Vis1AK_Home1A,169,67,169,6221276,8,2
728,1884_008_Vis1AK_Home1A,181,73,181,6675126,8,2
758,1884_008_Vis1AK_Home1A,190,75,190,7009776,8,2
819,1884_008_Vis1AK_Home1A,200,82,200,7544326,8,2
836,1884_008_Vis1AK_Home1A,203,84,203,7633826,8,2

In [5]:
play6 = game_events[game_events["play_id"] == 6]

In [6]:
play6abridged = play6.merge(ball_pos, on = "timestamp")

In [7]:
play6abridged = play6abridged.merge(player_pos, on = ["timestamp", "player_position"], suffixes= ("y",))

In [8]:
play6abridged = play6abridged[["play_id_x", "timestamp", "player_position", "event_code", "ball_position_x", "ball_position_y", "ball_position_z", "field_x", "field_y"]]

In [9]:
play6

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
29,1884_008_Vis1AK_Home1A,6,24,6,290678,1,1
30,1884_008_Vis1AK_Home1A,6,24,6,291078,10,4
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
32,1884_008_Vis1AK_Home1A,6,24,6,297678,8,3
33,1884_008_Vis1AK_Home1A,6,24,6,299428,255,16
34,1884_008_Vis1AK_Home1A,6,24,6,299578,6,2
35,1884_008_Vis1AK_Home1A,6,24,6,301228,0,5

In [10]:
df = play6.merge(game_info, on = "play_per_game", suffixes = ["_a", "_b"])
df = df.merge(ball_pos, on = "timestamp", suffixes= ["_c", "_d"])
df = df.merge(player_pos, on = "timestamp", suffixes= ["_e", "_f"])
play6[play6["event_code"] == 2]["player_position"].iloc[0]
291078

291078

In [11]:
play6

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
29,1884_008_Vis1AK_Home1A,6,24,6,290678,1,1
30,1884_008_Vis1AK_Home1A,6,24,6,291078,10,4
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
32,1884_008_Vis1AK_Home1A,6,24,6,297678,8,3
33,1884_008_Vis1AK_Home1A,6,24,6,299428,255,16
34,1884_008_Vis1AK_Home1A,6,24,6,299578,6,2
35,1884_008_Vis1AK_Home1A,6,24,6,301228,0,5

In [12]:
play6coords = player_pos[(player_pos["player_position"] == 8) & (player_pos["timestamp"] >= 291078) & (player_pos["timestamp"] <= 296628)]
#list(zip(play6coords["field_x"], play6coords["field_y"]))
play6coords

,game_str,play_id,timestamp,player_position,field_x,field_y
5193,1884_008_Vis1AK_Home1A,6,291078,8,-4.7460,286.0152
5207,1884_008_Vis1AK_Home1A,6,291128,8,-4.6383,285.9066
5221,1884_008_Vis1AK_Home1A,6,291178,8,-4.5210,285.7980
5235,1884_008_Vis1AK_Home1A,6,291228,8,-4.3929,285.6909
5249,1884_008_Vis1AK_Home1A,6,291278,8,-4.2525,285.5865
...,...,...,...,...,...,...
6691,1884_008_Vis1AK_Home1A,6,296428,8,82.1850,321.0192
6705,1884_008_Vis1AK_Home1A,6,296478,8,82.7688,321.3156
6719,1884_008_Vis1AK_Home1A,6,296528,8,83.3565,321.6087
6733,1884_008_Vis1AK_Home1A,6,296578,8,83.4822,321.6708
6747,1884_008_Vis1AK_Home1A,6,296628,8,83.6010,321.7311

In [13]:
canv = ipycanvas.Canvas(width  = 400, height = 400)
canv.scale(x = 1, y = -1)
canv.translate(x = canv.width / 2, y = -canv.height)
#canv.fill_style = "black"
colors = np.array(range(play6coords.shape[0])) * 255 / play6coords.shape[0]
colors = list(map(lambda x: ([255 - x, 255 - x, 255]), colors))
canv.fill_styled_circles(play6coords["field_x"].to_numpy(), play6coords["field_y"].to_numpy(), color = colors, radius = 1)
canv

Canvas(height=400, width=400)

In [14]:
np.array(range(play6coords.shape[0])) * 255 / play6coords.shape[0]

array([  0.        ,   2.27678571,   4.55357143,   6.83035714,
         9.10714286,  11.38392857,  13.66071429,  15.9375    ,
        18.21428571,  20.49107143,  22.76785714,  25.04464286,
        27.32142857,  29.59821429,  31.875     ,  34.15178571,
        36.42857143,  38.70535714,  40.98214286,  43.25892857,
        45.53571429,  47.8125    ,  50.08928571,  52.36607143,
        54.64285714,  56.91964286,  59.19642857,  61.47321429,
        63.75      ,  66.02678571,  68.30357143,  70.58035714,
        72.85714286,  75.13392857,  77.41071429,  79.6875    ,
        81.96428571,  84.24107143,  86.51785714,  88.79464286,
        91.07142857,  93.34821429,  95.625     ,  97.90178571,
       100.17857143, 102.45535714, 104.73214286, 107.00892857,
       109.28571429, 111.5625    , 113.83928571, 116.11607143,
       118.39285714, 120.66964286, 122.94642857, 125.22321429,
       127.5       , 129.77678571, 132.05357143, 134.33035714,
       136.60714286, 138.88392857, 141.16071429, 143.4375    ,
       145.71428571, 147.99107143, 150.26785714, 152.54464286,
       154.82142857, 157.09821429, 159.375     , 161.65178571,
       163.92857143, 166.20535714, 168.48214286, 170.75892857,
       173.03571429, 175.3125    , 177.58928571, 179.86607143,
       182.14285714, 184.41964286, 186.69642857, 188.97321429,
       191.25      , 193.52678571, 195.80357143, 198.08035714,
       200.35714286, 202.63392857, 204.91071429, 207.1875    ,
       209.46428571, 211.74107143, 214.01785714, 216.29464286,
       218.57142857, 220.84821429, 223.125     , 225.40178571,
       227.67857143, 229.95535714, 232.23214286, 234.50892857,
       236.78571429, 239.0625    , 241.33928571, 243.61607143,
       245.89285714, 248.16964286, 250.44642857, 252.72321429])

In [15]:
play6

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
29,1884_008_Vis1AK_Home1A,6,24,6,290678,1,1
30,1884_008_Vis1AK_Home1A,6,24,6,291078,10,4
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
32,1884_008_Vis1AK_Home1A,6,24,6,297678,8,3
33,1884_008_Vis1AK_Home1A,6,24,6,299428,255,16
34,1884_008_Vis1AK_Home1A,6,24,6,299578,6,2
35,1884_008_Vis1AK_Home1A,6,24,6,301228,0,5

In [16]:
from Player import Player
from Route import Route

In [84]:
r = Route(play6, player_pos, ball_pos, game_info)

In [88]:
Player.get_existing_players()[8743].get_levels()

{'1A': 1}

In [80]:
r.get_total_length()

96.96957488866856

In [81]:
r.get_ideal_length()

95.29332569393306

In [89]:
r.get_score()

0.9827136584164671

In [103]:
(play6["player_position"] >= 7) & (play6["player_position"] <= 9) & (play6["event_code"] == 2)

29    False
30    False
31     True
32     True
33    False
34    False
35    False
Name: player_position, dtype: bool

In [104]:
play6

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
29,1884_008_Vis1AK_Home1A,6,24,6,290678,1,1
30,1884_008_Vis1AK_Home1A,6,24,6,291078,10,4
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
32,1884_008_Vis1AK_Home1A,6,24,6,297678,8,3
33,1884_008_Vis1AK_Home1A,6,24,6,299428,255,16
34,1884_008_Vis1AK_Home1A,6,24,6,299578,6,2
35,1884_008_Vis1AK_Home1A,6,24,6,301228,0,5