In [171]:
import pandas as pd
import ipycanvas
import numpy as np

In [17]:
player_pos = pd.read_csv("2024_SMT_Data_Challenge\player_pos\Season_1884\Home1A\Vis1AK\day_008\player_pos.csv")
game_info = pd.read_csv("2024_SMT_Data_Challenge\game_info\Season_1884\Home1A\Vis1AK\day_008\game_info.csv")
ball_pos = pd.read_csv("2024_SMT_Data_Challenge\\ball_pos\Season_1884\Home1A\Vis1AK\day_008\\ball_pos.csv")
game_events = pd.read_csv("2024_SMT_Data_Challenge\game_events\Season_1884\Home1A\Vis1AK\day_008\game_events.csv")

In [22]:
game_events[(game_events["event_code"] == 2) & (game_events["player_position"] == 8)]

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
132,1884_008_Vis1AK_Home1A,37,30,37,1297528,8,2
314,1884_008_Vis1AK_Home1A,83,43,83,2963626,8,2
437,1884_008_Vis1AK_Home1A,112,51,112,3875826,8,2
451,1884_008_Vis1AK_Home1A,115,52,115,3943226,8,2
540,1884_008_Vis1AK_Home1A,139,57,139,4931426,8,2
627,1884_008_Vis1AK_Home1A,160,64,160,5863626,8,2
676,1884_008_Vis1AK_Home1A,169,67,169,6221276,8,2
728,1884_008_Vis1AK_Home1A,181,73,181,6675126,8,2
758,1884_008_Vis1AK_Home1A,190,75,190,7009776,8,2
819,1884_008_Vis1AK_Home1A,200,82,200,7544326,8,2
836,1884_008_Vis1AK_Home1A,203,84,203,7633826,8,2

In [32]:
play6 = game_events[game_events["play_id"] == 6]

In [55]:
play6abridged = play6.merge(ball_pos, on = "timestamp")

In [56]:
play6abridged = play6abridged.merge(player_pos, on = ["timestamp", "player_position"], suffixes= ("y",))

In [57]:
play6abridged = play6abridged[["play_id_x", "timestamp", "player_position", "event_code", "ball_position_x", "ball_position_y", "ball_position_z", "field_x", "field_y"]]

In [67]:
play6

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
29,1884_008_Vis1AK_Home1A,6,24,6,290678,1,1
30,1884_008_Vis1AK_Home1A,6,24,6,291078,10,4
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
32,1884_008_Vis1AK_Home1A,6,24,6,297678,8,3
33,1884_008_Vis1AK_Home1A,6,24,6,299428,255,16
34,1884_008_Vis1AK_Home1A,6,24,6,299578,6,2
35,1884_008_Vis1AK_Home1A,6,24,6,301228,0,5

In [92]:
df = play6.merge(game_info, on = "play_per_game", suffixes = ["_a", "_b"])
df = df.merge(ball_pos, on = "timestamp", suffixes= ["_c", "_d"])
df = df.merge(player_pos, on = "timestamp", suffixes= ["_e", "_f"])
play6[play6["event_code"] == 2]["player_position"].iloc[0]
291078

291078

In [97]:
play6

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
29,1884_008_Vis1AK_Home1A,6,24,6,290678,1,1
30,1884_008_Vis1AK_Home1A,6,24,6,291078,10,4
31,1884_008_Vis1AK_Home1A,6,24,6,296628,8,2
32,1884_008_Vis1AK_Home1A,6,24,6,297678,8,3
33,1884_008_Vis1AK_Home1A,6,24,6,299428,255,16
34,1884_008_Vis1AK_Home1A,6,24,6,299578,6,2
35,1884_008_Vis1AK_Home1A,6,24,6,301228,0,5

In [102]:
play6coords = player_pos[(player_pos["player_position"] == 8) & (player_pos["timestamp"] >= 291078) & (player_pos["timestamp"] <= 296628)]
list(zip(play6coords["field_x"], play6coords["field_y"]))

[(-4.746, 286.0152),
 (-4.6383, 285.9066),
 (-4.521, 285.798),
 (-4.3929, 285.6909),
 (-4.2525, 285.5865),
 (-4.098, 285.4863),
 (-3.9279, 285.3915),
 (-3.7404, 285.3036),
 (-3.534, 285.2235),
 (-3.3063, 285.153),
 (-3.0558, 285.093),
 (-2.7801, 285.0456),
 (-2.4783, 285.0123),
 (-2.1483, 284.9955),
 (-1.7898, 284.9976),
 (-1.4019, 285.0216),
 (-0.984, 285.0699),
 (-0.5361, 285.144),
 (-0.0585, 285.2457),
 (0.4485, 285.3759),
 (0.9837, 285.5358),
 (1.5462, 285.7266),
 (2.1342, 285.9486),
 (2.7474, 286.2018),
 (3.3837, 286.4859),
 (4.0419, 286.8006),
 (4.7205, 287.1441),
 (5.4186, 287.5158),
 (6.135, 287.9163),
 (6.8691, 288.3441),
 (7.6194, 288.7992),
 (8.3853, 289.2798),
 (9.1668, 289.7847),
 (9.9633, 290.3124),
 (10.7745, 290.8605),
 (11.6007, 291.4269),
 (12.4413, 292.0098),
 (13.2966, 292.6068),
 (14.1669, 293.2161),
 (15.0519, 293.8356),
 (15.9516, 294.4623),
 (16.8666, 295.0947),
 (17.7969, 295.7301),
 (18.7425, 296.3661),
 (19.704, 297.0009),
 (20.6817, 297.6327),
 (21.6753, 298.2591),
 (22.6851, 298.8792),
 (23.7111, 299.4903),
 (24.753, 300.0909),
 (25.8105, 300.6798),
 (26.8836, 301.2564),
 (27.9726, 301.8201),
 (29.0766, 302.3709),
 (30.195, 302.9079),
 (31.3278, 303.4314),
 (32.4735, 303.9414),
 (33.6324, 304.4379),
 (34.8027, 304.9209),
 (35.9838, 305.3901),
 (37.1742, 305.8452),
 (38.3736, 306.2868),
 (39.5805, 306.7143),
 (40.794, 307.128),
 (42.0129, 307.5282),
 (43.2363, 307.9158),
 (44.4633, 308.2917),
 (45.6936, 308.6568),
 (46.9254, 309.0123),
 (48.1581, 309.3585),
 (49.3902, 309.6966),
 (50.6205, 310.0275),
 (51.8475, 310.3515),
 (53.07, 310.6695),
 (54.2868, 310.9815),
 (55.4961, 311.289),
 (56.6973, 311.592),
 (57.8892, 311.892),
 (59.0709, 312.1902),
 (60.2421, 312.4878),
 (61.4016, 312.7854),
 (62.5485, 313.0845),
 (63.6825, 313.3854),
 (64.803, 313.689),
 (65.9097, 313.9962),
 (67.0029, 314.307),
 (68.0823, 314.6214),
 (69.6624, 315.1053),
 (71.2425, 315.5895),
 (71.2425, 315.5895),
 (72.2727, 315.921),
 (72.8724, 316.2225),
 (73.4586, 316.5213),
 (74.0352, 316.8168),
 (74.6142, 317.1144),
 (75.2037, 317.4183),
 (75.7779, 317.7144),
 (76.3707, 318.0207),
 (76.9458, 318.318),
 (77.5278, 318.6189),
 (78.1113, 318.921),
 (78.6918, 319.221),
 (79.2789, 319.5246),
 (79.8522, 319.8204),
 (80.4339, 320.1204),
 (81.027, 320.4258),
 (81.6051, 320.7228),
 (82.185, 321.0192),
 (82.7688, 321.3156),
 (83.3565, 321.6087),
 (83.4822, 321.6708),
 (83.601, 321.7311)]

In [195]:
canv = ipycanvas.Canvas(width  = 400, height = 400)
canv.scale(x = 1, y = -1)
canv.translate(x = canv.width / 2, y = -canv.height)
#canv.fill_style = "black"
colors = np.array(range(play6coords.shape[0])) * 255 / play6coords.shape[0]
colors = list(map(lambda x: ([255 - x, 255 - x, 255]), colors))
canv.fill_styled_circles(play6coords["field_x"].to_numpy(), play6coords["field_y"].to_numpy(), color = colors, radius = 1)
canv

Canvas(height=400, width=400)

In [181]:
np.array(range(play6coords.shape[0])) * 255 / play6coords.shape[0]

array([  0.        ,   2.27678571,   4.55357143,   6.83035714,
         9.10714286,  11.38392857,  13.66071429,  15.9375    ,
        18.21428571,  20.49107143,  22.76785714,  25.04464286,
        27.32142857,  29.59821429,  31.875     ,  34.15178571,
        36.42857143,  38.70535714,  40.98214286,  43.25892857,
        45.53571429,  47.8125    ,  50.08928571,  52.36607143,
        54.64285714,  56.91964286,  59.19642857,  61.47321429,
        63.75      ,  66.02678571,  68.30357143,  70.58035714,
        72.85714286,  75.13392857,  77.41071429,  79.6875    ,
        81.96428571,  84.24107143,  86.51785714,  88.79464286,
        91.07142857,  93.34821429,  95.625     ,  97.90178571,
       100.17857143, 102.45535714, 104.73214286, 107.00892857,
       109.28571429, 111.5625    , 113.83928571, 116.11607143,
       118.39285714, 120.66964286, 122.94642857, 125.22321429,
       127.5       , 129.77678571, 132.05357143, 134.33035714,
       136.60714286, 138.88392857, 141.16071429, 143.4375    ,
       145.71428571, 147.99107143, 150.26785714, 152.54464286,
       154.82142857, 157.09821429, 159.375     , 161.65178571,
       163.92857143, 166.20535714, 168.48214286, 170.75892857,
       173.03571429, 175.3125    , 177.58928571, 179.86607143,
       182.14285714, 184.41964286, 186.69642857, 188.97321429,
       191.25      , 193.52678571, 195.80357143, 198.08035714,
       200.35714286, 202.63392857, 204.91071429, 207.1875    ,
       209.46428571, 211.74107143, 214.01785714, 216.29464286,
       218.57142857, 220.84821429, 223.125     , 225.40178571,
       227.67857143, 229.95535714, 232.23214286, 234.50892857,
       236.78571429, 239.0625    , 241.33928571, 243.61607143,
       245.89285714, 248.16964286, 250.44642857, 252.72321429])

In [179]:
np.random.randint(0, 255, size=(2, 3))

array([[148, 235, 143],
       [175,  11,  44]])